---
# clang-tidy config for your engine
Checks: >
  modernize-use-forward-declarations,
  readability-redundant-include,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/(?!.*(stb_image|tiny_gltf|tiny_obj)\.h)'
FormatStyle: file
CheckOptions:
  - key: modernize-use-forward-declarations.PrivateHeaders
    value: false
