BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 0
IndentWrappedFunctionNames: false
AlwaysBreakAfterReturnType: None
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: false
