[submodule "external/webgpu"]
	path = external/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "external/sdl2webgpu"]
	path = external/sdl2webgpu
	url = https://github.com/eliemichel/sdl2webgpu.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
